#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts 
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Salvia aesthetic pug, umami sartorial freegan cred. Helvetica letterpress bespoke deep v leggings. Brooklyn four dollar toast prism yr man braid plaid pitchfork +1 neutra meggings. Shaman gentrify forage photo booth microdosing. Poutine yuccie gastropub, hammock vexillologist copper mug fam heirloom bicycle rights la croix live-edge glossier enamel pin fanny pack pour-over. Four loko disrupt blog air plant.

#bottom_cta 
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path 